@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #f2f2f2;
	font-family: "Manrope", "Segoe UI", sans-serif;
}

* {
	box-sizing: border-box;
}
